Part one of Capstone project : create python file and push it to github

In [3]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [10]:
df = pd.DataFrame(pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0])
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [13]:
df.shape

(287, 3)

In [11]:
df.isnull().sum()

0
Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

Filtering out and ignoring data where Borough = 'Not assigned'

In [14]:
df = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df.shape

(210, 3)

Replacing 'Not assigned' in Neighbourhood column with value from Borough

In [18]:
df['Neighbourhood']= np.where(df['Neighbourhood']== 'Not assigned',df['Borough'],df['Neighbourhood'])
df.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

Merging rows with multiple Neighbourhood separated by "," for same Postcode

In [22]:
df = df.groupby("Postcode", as_index = False).agg(lambda x: ", ".join(sorted(set(x))))
df.head()

0 Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [24]:
df.shape

(103, 3)